Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [2]:
df.shape

(7043, 21)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

*В данных 7043 строки, пропусков нет*

In [4]:
#Ваш код здесь
df['gender'].value_counts(normalize=True)

Male      0.504756
Female    0.495244
Name: gender, dtype: float64

*Соотношение примерно одинаковое, женщин на 1% меньше*

##### 2. Какое количество уникальных значений у поля InternetService?

In [5]:
#Ваш код здесь
df['InternetService'].nunique()

3

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [6]:
#Ваш код здесь
df[['TotalCharges']].describe()

       TotalCharges
count          7043
unique         6531
top
freq             11

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

*Тип данных object , надо преобразовать, если возможно*

In [7]:
pd.set_option('display.max_columns', 40)

In [8]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,Yes,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,No,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [10]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'])

ValueError: Unable to parse string " " at position 488

In [ ]:
df[488:489]

*Похоже, что Total Charges это произведение Tenure и MonthlyCharges или близкое к этому значение. Заменим " " на '0'*

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [ ]:
df.replace({'PhoneService': {'Yes':1, 'No':0}}, inplace=True)

In [ ]:
#Ваш код здесь
df['PhoneService']

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [ ]:
#Ваш код здесь

df.loc[df['TotalCharges'] == " ", 'TotalCharges'] = '0'

df[488:489]

In [11]:
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce', downcast='float')

In [12]:
df['TotalCharges'].dtype

dtype('float32')

In [13]:
df['TotalCharges'] = df['TotalCharges'].fillna(0)

In [14]:
df[['TotalCharges']].describe()

       TotalCharges
count   7043.000000
mean    2279.732178
std     2266.794434
min        0.000000
25%      398.549988
50%     1394.550049
75%     3786.599976
max     8684.799805

*Были статистики для категориальных переменных, которые для этой колонки непоказательны. Сейчас статистики намного более информативные*

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [15]:
#Ваш код здесь

In [16]:
df.replace({'Churn': {'Yes':1, 'No':0}}, inplace=True)

In [17]:
#Ваш код здесь
df['Churn']

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [18]:
#Ваш код здесь
df.replace({'StreamingMovies': {'Yes':1, 'No':0, 'No internet service':0},
            'StreamingTV': {'Yes':1, 'No':0, 'No internet service':0},
            'TechSupport': {'Yes':1, 'No':0, 'No internet service':0},
           }, inplace=True)

In [19]:
#Ваш код здесь
df[['StreamingMovies', 'StreamingTV', 'TechSupport']]

      StreamingMovies  StreamingTV  TechSupport
0                   0            0            0
1                   0            0            0
2                   0            0            0
3                   0            0            1
4                   0            0            0
...               ...          ...          ...
7038                1            1            1
7039                1            1            0
7040                0            0            0
7041                0            0            0
7042                1            1            1

[7043 rows x 3 columns]

##### 8. Заполните пропуски в поле PhoneService значением 0

In [20]:
#Ваш код здесь
df['PhoneService'] = df['PhoneService'].fillna(0)

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [21]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь
df = df[columns]
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,No,29.850000,0,0,0,0
1,Male,34,Yes,1889.500000,0,0,0,0
2,Male,2,Yes,108.150002,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [22]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь

X_train, X_test, y_train, y_test = train_test_split(
    df.drop(target, axis=1), df[target], train_size=0.75, shuffle=True, random_state=1,
)

In [23]:
print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

(5282, 7) (1761, 7) (5282,) (1761,)

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [24]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [25]:
#Ваш код здесь
gender.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))],
         verbose=False)

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

*Некоторые модели чувствительны к размерности данных, и для них данные нужно стандартизировать. StandardScaler полезно применять, если распределние данных похоже на нормальное*

In [26]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [27]:
#Ваш код здесь
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [32]:
from sklearn.pipeline import FeatureUnion
# удалил 'PhoneService' из number_features, т.к. значения в этой колонке - не числа
number_features = Pipeline([
                ('selector', ColumnSelector(key=[
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [33]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [31]:
X_train

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport
6463,Male,59,Yes,4096.899902,1,0,1
289,Male,10,Yes,435.399994,0,0,0
4356,Female,3,Yes,56.000000,0,0,0
6222,Male,66,Yes,5976.899902,1,0,0
1790,Female,12,Yes,947.299988,1,0,0
...,...,...,...,...,...,...,...
905,Male,9,Yes,918.599976,1,1,0
5192,Male,60,Yes,1189.900024,0,0,0
3980,Male,28,Yes,2979.500000,1,1,0
235,Male,2,Yes,114.099998,0,0,0
5157,Female,16,Yes,1114.849976,1,0,1

In [34]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(memory=None,
         steps=[('features',
                 FeatureUnion(n_jobs=None,
                              transformer_list=[('tenure',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler(copy=True,
                                                                                 with_mean=True,
                                                                                 with_std=True))],
                                                          verbose=False)),
                                                ('TotalCharges',
                                                 Pipeline(memory=None,
                                                          steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard...
                 RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                        class_weight=None, criterion='gini',
                                        max_depth=None, max_features='auto',
                                        max_leaf_nodes=None, max_samples=None,
                                        min_impurity_decrease=0.0,
                                        min_impurity_split=None,
                                        min_samples_leaf=1, min_samples_split=2,
                                        min_weight_fraction_leaf=0.0,
                                        n_estimators=100, n_jobs=None,
                                        oob_score=False, random_state=42,
                                        verbose=0, warm_start=False))],
         verbose=False)

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [39]:
#Ваш код здесь
y_pred_proba_test = pipeline.predict_proba(X_test)
y_pred_proba_test

array([[0.97, 0.03],
       [0.42, 0.58],
       [0.97, 0.03],
       ...,
       [1.  , 0.  ],
       [0.22, 0.78],
       [0.63, 0.37]])

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [40]:
y_pred_proba_train = pipeline.predict_proba(X_train)

In [41]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
train_score_auc = roc_auc_score(y_train, y_pred_proba_train[:,1])
test_score_auc = roc_auc_score(y_test, y_pred_proba_test[:,1])

print(f"Train-score auc: {round(train_score_auc, 3)}, Test-score auc: {round(test_score_auc, 3)}")

Train-score auc: 0.999, Test-score auc: 0.778

In [51]:
y_train

6463    0
289     1
4356    0
6222    0
1790    1
       ..
905     1
5192    0
3980    1
235     1
5157    0
Name: Churn, Length: 5282, dtype: int64

In [52]:
train_score_logloss = log_loss(y_train, y_pred_proba_train)
test_score_logloss = log_loss(y_test, y_pred_proba_test)

print(f"Train-score log loss: {round(train_score_logloss, 3)}, Test-score logloss: {round(test_score_logloss, 3)}")

Train-score log loss: 0.125, Test-score logloss: 0.892

### Сохраним наш пайплайн

In [55]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)